h1 {
  font-size:
  color: red;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: left;
}

p {
  font-family: serif;
  font-weight: bold;
}

ul {
  font-size: 45px;
  line-height: 30px;
}

ol {
  font-size: 45px;
  line-height: 30px;
}
